.myModel{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0,.5);
}

.myModelContent{
    max-width: 450px;
    padding: 25px;
    border-radius: 16px;
    background-color: white;
}

.myModel.active{
    display: flex;
    justify-content: center;
    align-items: center;
}